<h1>
  List of all movies
</h1>

<hr>

<form action="/insert_movie" method="post">
  <div>
    <label for="title_box">
      Title
    </label>

    <input type="text" id="title_box" name="query_title">
  </div>

  <div>
    <label for="year_box">
      Year
    </label>

    <input type="text" id="year_box" name="query_year">
  </div>

  <div>
    <label for="duration_box">
      Duration
    </label>

    <input type="text" id="duration_box" name="query_duration">
  </div>

  <div>
    <label for="description_box">
      Description
    </label>

    <textarea id="description_box" name="query_description" rows="3"></textarea>
  </div>

  <div>
    <label for="image_box">
      Image
    </label>

    <input type="text" id="image_box" name="query_image">
  </div>

  <div>
    <label for="director_id_box">
      Director ID
    </label>

    <input type="text" id="director_id_box" name="query_director_id">
  </div>

  <button>
    Create movie
  </button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <img src="<%= movie.image %>" style="width:250px;">
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <% matching_directors = Director.where({ :id => movie.director_id }) %>

      <% the_director = matching_directors.at(0) %>

      <% if the_director != nil %>
        <%= the_director.name %>
      <% else %>
        Uh oh! We weren't able to find a director for this movie.
      <% end %>
    </td>

    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
