<h1>
  Actor #<%= @the_actor.id %> details
</h1>

<div>
  <a href="/actors">
    Go back
  </a>
</div>

<div>
  <a href="/delete_actor/<%= @the_actor.id %>">
    Delete actor
  </a>
</div>

<hr>

<form action="/modify_actor/<%= @the_actor.id %>" method="post">
  <div>
    <label for="name_box">
      Name
    </label>

    <input type="text" id="name_box" name="query_name" value="<%= @the_actor.name %>">
  </div>

  <div>
    <label for="dob_box">
      Dob
    </label>

    <input type="date" id="dob_box" name="query_dob" value="<%= @the_actor.dob %>">
  </div>

  <div>
    <label for="bio_box">
      Bio
    </label>

    <textarea id="bio_box" name="query_bio" rows="3"><%= @the_actor.bio %></textarea>
  </div>

  <div>
    <label for="image_box">
      Image
    </label>

    <input type="text" id="image_box" name="query_image" value="<%= @the_actor.image %>">
  </div>

  <button>
    Update actor
  </button>
</form>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_actor.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_actor.updated_at) %> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

  <% a_id = @the_actor.id %>

  <% matching_characters = Character.where({ :actor_id => a_id }) %>

  <% matching_characters.each do |a_character| %>
    <% m_id = a_character.movie_id %>

    <% matching_movies = Movie.where({ :id => m_id }) %>

    <% the_movie = matching_movies.at(0) %>

    <tr>
      <td>
        <%= the_movie.title %>
      </td>

      <td>
        <%= the_movie.year %>
      </td>

      <td>
        <% d_id = the_movie.director_id %>
        
        <% matching_directors = Director.where({ :id => d_id }) %>
        
        <% the_director = matching_directors.at(0) %>

        <%= the_director.name %>
      </td>

      <td>
        <%= a_character.name %>
      </td>

      <td>
        <a href="/movies/<%= the_movie.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
